body {
    background-color:rgb(227, 9, 235);
}
footer {
    background-color: black;
    color: white;
}
footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}